$colors: (
  main-color: #fff,
  secondary-color: #333,
  description-color: #999,
  indention-color: rgb(243, 129, 129),
  nav-hover-color: rgb(252, 227, 138),
  shadow-color: #95e1d3,
  input-color: #cccccc,
  input-border-color: #e7e7e7,
  footer-border-color: rgb(229, 229, 229),
  valid-color: #84ff00,
  invalid-color: #ff0000,
);
