.contact-form {
  @extend %section-list;
  font-family: $secondary-font;
  &__input {
    font-style: italic;
    font-size: 15px;
    line-height: 24px;
    border: 1px solid map-get($colors, input-border-color);
    padding: 6px 0 6px 13px;
    width: 230px;
    outline: none;
    &::placeholder {
      color: map-get($colors, input-color);
    }
    &:required:focus:valid {
      border: 2px solid map-get($colors, valid-color);
    }
    &:required:focus:invalid:not(:placeholder-shown) {
      border: 2px solid map-get($colors, invalid-color);
    }
  }

  &__button {
    padding: 10px 33px;
    font-size: 1.4rem;
    font-weight: 700;
    background-color: map-get($colors, shadow-color);
    color: map-get($colors, main-color);
    text-transform: uppercase;
  }
}
